#container{
  display:flex;
  width: 1080px;
  height: 1350px;
  overflow: hidden;
}
#img1{
  position: absolute;
  overflow: hidden;
}

#img2{
  position: relative;
  z-index: 100;
  left: 1500px;
  animation: example 3s infinite;
}

@keyframes example {
  30%  {left:910px; }
}