#container{
  display:flex;
  width: 1080px;
  height: 1350px;
  overflow: hidden;
}
#img1{
  position: absolute;
  overflow: hidden;
}

#img2{
  position: relative;
  z-index: 100;
  left: 1500px;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  /* 0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;} */
  30%  {background-color:green; left:900px; }
  /* 100% {background-color:red; left:0px; top:0px;} */
}